<!--Search Bar Index -->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container is-fluid has-text-centered">
      <%= form_tag :search, method: :get do %>
        <div class="select is-info">
          <%= collection_select :location, :id, Location.all, :id, :select_format, prompt: 'select location' %>
        </div>
          <%= submit_tag "Search", method: :get, class: "button is-outlined is-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<br>
