<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-weight-light">
        What would you like to do today?
      </h1>
      <h2 class="subtitle has-text-weight-light">
        Choose one of your activities below or make a new one.
      </h1>
    </div>
  </div>
</section>
<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
    <% current_user.activities.each do |activity| %>
      <div class="field">
        <a class="control"><%= button_to activity.title, user_activity_path(current_user, activity), class: "button is-large is-light is-hovered is-focused" %></a>
      </div>
    <% end %>
   </div>
  </div>
</section>