
<!--Activities Index -->
<div class="section">
  <div class="container is-fluid">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <% @activities.each do |activity| %>
        <div class="tile is-child">
          <a class="control"><%= button_to activity.title, dashboard_path, method: :get, class: "button is-large is-warning is-outlined" %></a>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="tile is-parent">
        <div class="tile is-child box" id="map">
          <p class="title has-text-weight-light">Map</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title has-text-weight-light">Weather Conditions</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title has-text-weight-light">Local Gear Shops</p>
        </div>
      </div>
    </div>
  </div>
</div>



