<!--Activity Title -->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-weight-light">
        Happy Places
      </h1>
    </div>
  </div>
</section>
<section class="hero is-white">
<div class="hero-body">
  <% @presenter.zips_that_match.each do |zip| %>
  <ul>
    <div class="location">
      <li>City: <%= zip.city %></li>
      <li>State: <%= zip.state %></li>
      <li>Zip: <%= zip.zipcode %></li>
    </div><br>
  </ul>
  <% end %>
  </div>
</section>
 
