<!--Landing Page -->
<section class="hero is-fullheight is-info">
  <div class="hero-body">
    <div class="container">
      <nav class="level">
        <div class="level-item has-text-centered">
          <img src="https://cl.ly/25d18ae08d94/Screen%20Shot%202018-09-10%20at%2012.35.16%20PM.jpg", alt="yonder logo", style="height: 300px;">
        </div>
      </nav>
    </div>
  </div>
</section>