<!--Create Activity Banner -->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-weight-light">
        Create Activity
      </h1>
    </div>
  </div>
</section>
<%= render partial: 'form'%>